**/__pycache__
**/build
**/*.egg-info
**/*.egg
**/*.pyc
**/.DS_Store
**/.vscode
**/.idea
**/.git
**/logs*
**/*.log
mytest.py
**/ignore
**/_ignore
llm4ad/tools/llm/my_sampler.py
llm4ad/base/__evaluate
llm4ad/tools/visualize
llm-server
_alevo_under_py39
**/*proxy*
**/wandb
